/* client/src/components/Cards/CardStyle.css */
/* --------POST/STARTUP-------- */
.title-height {
    min-height: 160px !important;
}
.card-link {
    text-decoration: none;
    color: #222222 !important;
}
.card-link:hover {
    text-decoration: none !important;
}
/* ---------USER CARD--------- */
.user-card {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    /* max-width: 1200px; */
    justify-content: left;
    margin-bottom: 16px;
    width: 100%;
    border: 1px solid #222222;
    border-radius: 0;
    padding: 2rem;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

