
.breadcrumbs-container {
    max-width: 1200px !important;
    padding: 1rem;
    display: flex;
    justify-self: center;
}

  .css-1yav01k-MuiTypography-root-MuiBreadcrumbs-root {
    margin: 0 auto !important;
}

.css-1u10cx5-MuiTypography-root {
  margin: 0 auto;
  font-family: "Play", sans-serif !important;
}
.css-13d3ary {
  margin: 0 auto;
}
.MuiTypography-root {
  margin: 0 auto;
}
