.footer-container {
margin-top: auto; /* Pushes the footer to the bottom */
margin-bottom: 0 !important;
padding: 20px 0;
bottom: 0 !important;

}
.m-top {
    margin-top: 200px;
}
.footer-box-center {
    margin: 0 auto !important;
}
