/* client/src/pages/HomePage/HomePage.css */
.title-container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center !important;
}
.title-container a {
    text-decoration: none;
    color: #008100; 
    font-weight: bold;
}
.title-container a:hover {
    text-decoration: underline; 
}
.left {
    text-align: left;
}
.subtitle {
    font-size: 3rem;
    color: #09DD15;
}
.subtitle-text {
    margin-left: 0.5rem;
}
.inline-text {
    display: flex;
    text-align: left;
    align-items: baseline;
}
.inline-text {
    display: flex;
    align-items: center;
}
.inline-text h1 {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(23), blink-caret 0.75s ;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
/* --------BIRD--------- */
.bird-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}
.bird-button .bird-image {
    vertical-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: box-shadow 0.3s ease;
}
.bird-button .bird-image:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .bird-button .bird-image {
        width: 42px;
        height: 42px;
    }
    .inline-text {
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
    }
    .subtitle {
        font-size: 2.5rem;
    }
    .subtitle-text {
        margin-left: 0; /* Remove left margin for better alignment on wrap */
    }
}
@media (max-width: 480px) {
    .bird-button .bird-image {
        width: 36px;
        height: 36px;
    }

    .subtitle {
        font-size: 2rem;
    }

    .subtitle-text {
        font-size: 2rem; /* Smaller font size for subtitle */
    }
}
